[submodule "Tensor-Puzzles"]
	path = Tensor-Puzzles
	url = https://github.com/srush/Tensor-Puzzles.git
[submodule "ARENA_2.0"]
	path = ARENA_2.0
	url = https://github.com/callummcdougall/ARENA_2.0.git
